<p>
  UI Architect with <strong>18+ years</strong> of full stack experience in design, development and maintenance of enterprise web
  applications using web
  technologies like Typescript, Javascript, HTML, CSS, Angular, RxJS, Redux, NgRx, Java, Rest, ExtJS, ES5/6, Spring, JPA and MySql
  etc
</p>

<p>
  <strong>14+ years </strong> of full stack experience in architecting and development of scalable and testable
  solutions under aggressive timelines.
</p>


<div class="personal-details">
  <div>
    <strong>Phone: </strong> <span style="padding-left: 6px;"><a href="tel:+1-408-498-2168"> +1 (408) 498 2168</a></span>
  </div>
  <div>
    <strong>Email: </strong> <span style="padding-left: 6px;"><a href="mailto`:nagar.suresh@gmail.com"> nagar.suresh@gmail.com </a></span>
  </div>
  <div>
    <strong>City: </strong> <span style="padding-left: 6px;">Sunnyvale California</span>
  </div>
  <div>
    <strong>Visa Status: </strong> <span style="padding-left: 6px;">H1B</span>
  </div>
</div>