<h2>Angular</h2>

<!-- threejs -->
<div class="project">
  <div class="project-info">
    <h4>Angular + ThreeJS</h4>
    <p>Various ThreeJS examples with Angular and Typescript.
    </p>
    <div style="margin-top: 0.5rem;">
      <strong>Angular, ThreeJS, RxJs, Typescript</strong>
    </div>

    <div class="repo-url">
      <a href="https://github.com/nagarsuresh/angular-threejs">https://github.com/nagarsuresh/angular-threejs</a>
    </div>

  </div>
  <div class="project-demo">
    <a href="https://nagarsuresh.github.io/angular-threejs/#/solar-system" class="card clickable demo-card" target="_blank">
      <div class="card-img">
        <img src="./assets/images/solar-system.png" alt="" class="image">
      </div>
      <div class="card-block">
        <p class="card-text link-url">
          https://nagarsuresh.github.io/angular-threejs/
        </p>
      </div>
    </a>
  </div>
</div>


<!-- structural directive tooltip -->
<div class="project">
  <div class="project-info">
    <h4>Structural Directive over VMware Clarity Tooltip</h4>
    <p>An Angular structural directive wraps VMware Clarity Tooltip component to add tooltip on any element without boilerplate.
    </p>
    <div style="margin-top: 0.5rem;">
      <strong>Angular, Clarity, Typescript</strong>
    </div>

    <div class="repo-url">
      <a
        href="https://github.com/nagarsuresh/clarity-tooltip-structural-directive">https://github.com/nagarsuresh/clarity-tooltip-structural-directive</a>
    </div>


  </div>
  <div class="project-demo">
    <a href="https://nagarsuresh.github.io/clarity-tooltip-structural-directive/" class="card clickable demo-card" target="_blank">
      <div class="card-img">
        <img src="./assets/images/tooltip-demo.png" alt="" class="image">
      </div>
      <div class="card-block">
        <p class="card-text link-url">
          https://nagarsuresh.github.io/clarity-tooltip-structural-directive/
        </p>
      </div>
    </a>
  </div>
</div>

<!-- Multiple Undo NgRx -->
<div class="project">
  <div class="project-info">
    <h4>NgRx Multiple Undos</h4>
    <p>Implementing multiple undos using ngrx meta reducers.
    </p>
    <div style="margin-top: 0.5rem;">
      <strong>Angular, NgRx, Clarity, Typescript</strong>
    </div>
    <div class="repo-url">
      <a href="https://github.com/nagarsuresh/ngrx-multiple-undo">https://github.com/nagarsuresh/ngrx-multiple-undo</a>
    </div>
  </div>
  <div class="project-demo">
    <a href="https://nagarsuresh.github.io/ngrx-multiple-undo/ngrx-multiple-undo/" class="card clickable demo-card" target="_blank">
      <div class="card-img">
        <img src="https://miro.medium.com/max/700/1*TuxGvHQmigjE8kmwcodFFg.jpeg" alt="" class="image">
      </div>
      <div class="card-block">
        <p class="card-text link-url">
          https://nagarsuresh.github.io/ngrx-multiple-undo/ngrx-multiple-undo/
        </p>
      </div>
    </a>
  </div>
</div>


<!-- ngx-mousetrap -->
<div class="project">
  <div class="project-info">
    <h4>ngx-mousetrap</h4>
    <p>An Angular wrapper over a famour mousetrap library to expose it as Angular Directives and Service.
    </p>
    <div style="margin-top: 0.5rem;">
      <strong>Angular, mousetrap, RxJs</strong>
    </div>

    <div class="repo-url">
      <a href="https://github.com/nagarsuresh/ngx-mousetrap-angular">https://github.com/nagarsuresh/ngx-mousetrap-angular</a>
    </div>

  </div>
  <div class="project-demo">
    <a href="https://nagarsuresh.github.io/ngx-mousetrap-angular/" class="card clickable demo-card" target="_blank">
      <div class="card-img">
        <img src="https://miro.medium.com/max/700/1*GJdxPHqphXkuLCZEB47q1g.jpeg" alt="" class="image">
      </div>
      <div class="card-block">
        <p class="card-text link-url">
          https://nagarsuresh.github.io/ngx-mousetrap-angular/
        </p>
      </div>
    </a>
  </div>
</div>

<!-- clarity scroll tab -->
<div class="project">
  <div class="project-info">
    <h4>Scrolling Tab Container</h4>
    <p>A scrolling tab container where overflow tabs scroll in the header rather than getting cut of display in dropdown menu.
    </p>
    <div style="margin-top: 0.5rem;">
      <strong>Angular, Typescript</strong>
    </div>
    <div class="repo-url">
      <a href="https://github.com/nagarsuresh/clarity-scrolling-tab">https://github.com/nagarsuresh/clarity-scrolling-tab</a>
    </div>

  </div>
  <div class="project-demo">
    <a href="https://nagarsuresh.github.io/clarity-scrolling-tab/" class="card clickable demo-card" target="_blank">
      <div class="card-img">
        <img src="./assets/images/scrolling-tabs.png" alt="" class="image">
      </div>
      <div class="card-block">
        <p class="card-text link-url">
          https://nagarsuresh.github.io/clarity-scrolling-tab/
        </p>
      </div>
    </a>
  </div>
</div>


<!-- grid wrapper -->
<div class="project">
  <div class="project-info">
    <h4>Configuration Driven Data Ggrid</h4>
    <p>A configuration based data grid built on top of VMWare Clarity Datagrid..
    </p>
    <div style="margin-top: 0.5rem;">
      <strong>Angular, Clarity, Typescript</strong>
    </div>
    <div class="repo-url">
      <a href="https://github.com/nagarsuresh/clarity-wrapper-grid">https://github.com/nagarsuresh/clarity-wrapper-grid</a>
    </div>

  </div>
  <div class="project-demo">
    <a href="https://nagarsuresh.github.io/clarity-wrapper-grid/" class="card clickable demo-card" target="_blank">
      <div class="card-img">
        <img src="./assets/images/grid-wrapper.png" alt="" class="image">
      </div>
      <div class="card-block">
        <p class="card-text link-url">
          https://nagarsuresh.github.io/clarity-wrapper-grid/
        </p>
      </div>
    </a>
  </div>
</div>

<!-- receipe -->
<div class="project">
  <div class="project-info">
    <h4>Recipe App</h4>
    <p>Based on the
      <a href="https://www.udemy.com/course/the-complete-guide-to-angular-2/"> Angular - The Complete Guide </a>
      Udemy course.
    </p>
    <div style="margin-top: 0.5rem;">
      <strong>Angular, RxJs, Typescript</strong>
    </div>

    <div class="repo-url">
      <a href="https://github.com/nagarsuresh/ng2-recipe-book">https://github.com/nagarsuresh/ng2-recipe-book</a>
    </div>

  </div>
  <div class="project-demo">
    <a href="https://nagarsuresh.github.io/ng2-recipe-book/" class="card clickable demo-card" target="_blank">
      <div class="card-img">
        <img src="http://www.texaschicken.com.sg/menu/sides-french-fries.png" alt="" class="image">
      </div>
      <div class="card-block">
        <p class="card-text link-url">
          https://nagarsuresh.github.io/ng2-recipe-book/
        </p>
      </div>
    </a>
  </div>
</div>




<hr style="background-color:#0F171C;border-width: 0; height: 1px; margin-top: 4rem;" />

<h2>RxJs</h2>
<!-- RxJs and Webworker -->
<div class="project">
  <div class="project-info">
    <h4>RxJs Webworker Communication</h4>
    <p>An RxJS library over webworker to hide complexities of post messaging and exposing webworker as Observable.
    </p>
    <div style="margin-top: 0.5rem;">
      <strong>RxJs, Typescript, WebWorker</strong>
    </div>
    <div class="repo-url">
      <a href="https://github.com/nagarsuresh/rxify-worker-angular">https://github.com/nagarsuresh/rxify-worker-angular</a>
    </div>

  </div>
  <div class="project-demo">
    <a href="https://nagarsuresh.github.io/rxify-worker-angular/rxify-worker-angular/" class="card clickable demo-card" target="_blank">
      <div class="card-img">
        <img src="https://miro.medium.com/max/700/1*ttkbTh1esTmiO7RBUDP8ww.gif" alt="" class="image">
      </div>
      <div class="card-block">
        <p class="card-text link-url">
          https://nagarsuresh.github.io/rxify-worker-angular/rxify-worker-angular/
        </p>
      </div>
    </a>
  </div>
</div>

<!-- interframe communication -->
<div class="project">
  <div class="project-info">
    <h4>Interframe communication using RxJs</h4>
    <p>Communication channel in multiple frames using RxJs. A wrapper over native window post messaging api.
    </p>
    <div style="margin-top: 0.5rem;">
      <strong>RxJs, Javscript</strong>
    </div>
    <div class="repo-url">
      <a href="https://github.com/nagarsuresh/interframe-communication-rxjs">
        https://github.com/nagarsuresh/interframe-communication-rxjs</a>
    </div>

  </div>
  <div class="project-demo">
    <a href="https://nagarsuresh.github.io/interframe-communication-rxjs/" class="card clickable demo-card" target="_blank">
      <div class="card-img">
        <img src="./assets/images/inter-frame.png" alt="" class="image">
      </div>
      <div class="card-block">
        <p class="card-text link-url">
          https://nagarsuresh.github.io/interframe-communication-rxjs/
        </p>
      </div>
    </a>
  </div>
</div>



<hr style="background-color:#0F171C;border-width: 0; height: 1px; margin-top: 4rem;" />

<h2>React</h2>
<!-- Guessword game -->
<div class="project">
  <div class="project-info">
    <h4>Guessword Game</h4>
    <p>A game to guess a system chosen word in 15 attempts
    </p>
    <div style="margin-top: 0.5rem;">
      <strong>React, Javascript</strong>
    </div>
    <div class="repo-url">
      <a href="https://github.com/nagarsuresh/guessword">
        https://github.com/nagarsuresh/guessword</a>
    </div>

  </div>
  <div class="project-demo">
    <a href="https://nagarsuresh.github.io/guessword/" class="card clickable demo-card" target="_blank">
      <div class="card-img">
        <img src="./assets/images/guessword-game.png" alt="" class="image">
      </div>
      <div class="card-block">
        <p class="card-text link-url">
          https://nagarsuresh.github.io/guessword/
        </p>
      </div>
    </a>
  </div>
</div>

<!-- Playnine Game-->
<div class="project">
  <div class="project-info">
    <h4>Playnine Game</h4>
    <p>A game to match the system choosen number with given set of numbers. </p>
    <div style="margin-top: 0.5rem;">
      <strong>React, Javascript</strong>
    </div>
    <div class="repo-url">
      <a href="https://github.com/nagarsuresh/playnine">
        https://github.com/nagarsuresh/playnine</a>
    </div>

  </div>
  <div class="project-demo">
    <a href="https://nagarsuresh.github.io/playnine/" class="card clickable demo-card" target="_blank">
      <div class="card-img">
        <img src="./assets/images/playnine-game.png" alt="" class="image">
      </div>
      <div class="card-block">
        <p class="card-text link-url">
          https://nagarsuresh.github.io/playnine/
        </p>
      </div>
    </a>
  </div>
</div>






<hr style="background-color:#0F171C;border-width: 0; height: 1px; margin-top: 4rem;" />

<h2>ExtJS</h2>
<!-- Loading Angular Module in ExtJS -->
<div class="project">
  <div class="project-info">
    <h4>Loading Angular Module inside ExtJS Application</h4>
    <p>Loading multiple angular modules in ExtJS Application.
    </p>
    <div style="margin-top: 0.5rem;">
      <strong>ExtJS, Javascript</strong>
    </div>
    <div class="repo-url">
      <a href="https://github.com/nagarsuresh/ng2-in-extjs">
        https://github.com/nagarsuresh/ng2-in-extjs</a>
    </div>

  </div>
  <div class="project-demo">
    <a href="https://nagarsuresh.github.io/ng2-in-extjs/" class="card clickable demo-card" target="_blank">
      <div class="card-img">
        <!-- <img src="" alt="" class="image"> -->
      </div>
      <div class="card-block">
        <p class="card-text link-url">
          https://nagarsuresh.github.io/ng2-in-extjs/
        </p>
      </div>
    </a>
  </div>
</div>

<!-- Typeahead plugin -->
<div class="project">
  <div class="project-info">
    <h4>ExtJS Typeahead plugin for TextArea</h4>
    <p>A typeahead plugin in ExtJS for a text area where suggestion can be provided at any location. </p>
    <div style="margin-top: 0.5rem;">
      <strong>ExtJS, Javascript</strong>
    </div>
    <div class="repo-url">
      <a href="https://github.com/nagarsuresh/extjs-typeahead">
        https://github.com/nagarsuresh/extjs-typeahead</a>
    </div>

  </div>
  <div class="project-demo">
    <a href="https://nagarsuresh.github.io/extjs-typeahead/" class="card clickable demo-card" target="_blank">
      <div class="card-img">
        <img src="./assets/images/typeahead-extjs.png" alt="" class="image">
      </div>
      <div class="card-block">
        <p class="card-text link-url">
          https://nagarsuresh.github.io/extjs-typeahead/
        </p>
      </div>
    </a>
  </div>
</div>