<div class="main-container">
  <header class="header header-3">
    <div class="branding">
      <a href="javascript:void(0)">
        <span class="title">Suresh Nagar</span>
      </a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area" #scrollingContainer>
      <div class="scrolling-contents">
        <!-- about -->
        <app-section-container [title]="'About'" (partialVisible)="visibilityToggle('about', 'partial', $event)" id="about"
          (fullVisible)="visibilityToggle('about', 'full', $event)">
          <app-about></app-about>
        </app-section-container>
        <!-- resume -->
        <app-section-container [title]="'Resume'" (partialVisible)="visibilityToggle('resume', 'partial', $event)" id="resume"
          (fullVisible)="visibilityToggle('resume', 'full', $event)">
          <app-resume></app-resume>
        </app-section-container>

        <!-- work -->
        <!-- <app-section-container [title]="'Work'" (partialVisible)="visibilityToggle('work', 'partial', $event)" id="work"
        (fullVisible)="visibilityToggle('work', 'full', $event)">
          <app-work></app-work>
        </app-section-container> -->

        <!-- libraries -->
        <app-section-container [title]="'NPM Libraries'" (partialVisible)="visibilityToggle('npm', 'partial', $event)" id="npm"
          (fullVisible)="visibilityToggle('npm', 'full', $event)">
          <app-libraries></app-libraries>
        </app-section-container>
        <!-- articles -->
        <app-section-container [title]="'Articles'" (partialVisible)="visibilityToggle('articles', 'partial', $event)" id="articles"
          (fullVisible)="visibilityToggle('articles', 'full', $event)">
          <app-articles></app-articles>
        </app-section-container>
        <!-- projects -->
        <app-section-container [title]="'Github Projects'" (partialVisible)="visibilityToggle('projects', 'partial', $event)" id="projects"
          (fullVisible)="visibilityToggle('projects', 'full', $event)">
          <app-projects></app-projects>
        </app-section-container>
      </div>
    </div>
    <nav class="sidenav">
      <section class="sidenav-content">
        <section class="nav-group">

          <div class="image-container">
            <img src="./assets/images/my-image.jpg" alt="" class="my-photo">
            <span class="my-name">Suresh Nagar</span>
            <div class="social-icons">
              <a href="https://www.linkedin.com/in/sureshnagar/" target="_blank"  class="fa fa-linkedin"></a>
              <a href="https://www.facebook.com/suresh.nagar.12/" target="_blank" class="fa fa-facebook"></a>
              <a href="https://twitter.com/SureshNagar21" target="_blank" class="fa fa-twitter"></a>
              <a href="https://github.com/nagarsuresh" target="_blank" class="fa fa-github"></a>
            </div>
          </div>


          <ul class="nav-list">
            <li>
              <a class="nav-link" [ngClass]="{'active': activeComponent === 'about'}" (click)="scrollTo('about')">
                <clr-icon shape="user"></clr-icon>
                About
              </a>
            </li>
            <li>
              <a class="nav-link" [ngClass]="{'active': activeComponent === 'resume'}" (click)="scrollTo('resume')">
                <clr-icon shape="file"></clr-icon>
                Resume
              </a>
            </li>
            <!-- <li>
              <a class="nav-link" [ngClass]="{'active': activeComponent === 'work'}" (click)="scrollTo('work')">
                <clr-icon shape="checkbox-list"></clr-icon>
                Work
              </a>
            </li> -->
            <li>
              <a class="nav-link" [ngClass]="{'active': activeComponent === 'npm'}" (click)="scrollTo('npm')">
                <clr-icon shape="blocks-group"></clr-icon>
                NPM Libraries
              </a>
            </li>
            <li>
              <a class="nav-link" [ngClass]="{'active': activeComponent === 'articles'}" (click)="scrollTo('articles')">
                <clr-icon shape="form"></clr-icon>
                Articles
              </a>
            </li>
            <li>
              <a class="nav-link" [ngClass]="{'active': activeComponent === 'projects'}" (click)="scrollTo('projects')">
                <clr-icon shape="applications"></clr-icon>
                Github Projects
              </a>
            </li>
          </ul>
        </section>
      </section>
    </nav>
  </div>
</div>