<div class="education">

  <h2>Education</h2>
  <hr style="background-color:#0F171C;border-width: 0; height: 1px;"/>

  <app-timeline-card title="Master of Computer Applications" timeRange="1998 - 2001"
    institueName="Unversity of Jammu. Jammu & Kashmir. India">
    Master of computer applications from University of Jammu.
    <strong>Gold Medalist of batch 1998-2001</strong>
  </app-timeline-card>

  <app-timeline-card title="Bachelor of Commerce" timeRange="1995 - 1998" institueName="Unversity of Jammu.  Jammu & Kashmir. India">
  </app-timeline-card>

</div>


<div class="experience" style="margin-top: 3rem;">
  <h2>Professional Experience</h2>
  <hr style="background-color:#0F171C;border-width: 0; height: 1px;"/>

  <app-timeline-card title="Staff Engineer II" timeRange="2016 - PRESENT" institueName="VMware" location="Palo Alto, California"
    instituteIconClass="vmware">
    <div>UI Architect and Lead Engineer for <strong>NSX Intelligence</strong>.</div>

    <ul>
      <li>
        <a href="https://docs.vmware.com/en/VMware-NSX-Intelligence/1.1/user-guide/GUID-EF27B5EB-BD83-4AC4-81C9-45D0D7E07AB6.html"
          class="padded-link"
          target="_blank">https://docs.vmware.com/en/VMware-NSX-Intelligence/1.1/user-guide/GUID-EF27B5EB-BD83-4AC4-81C9-45D0D7E07AB6.html</a>
      </li>

      <li>
        <a href="https://www.youtube.com/watch?v=rNSL0IrIX_M" class="padded-link"
          target="_blank">https://www.youtube.com/watch?v=rNSL0IrIX_M</a>
      </li>
    </ul>


    <div style="padding-top: 12px;">
      <u style="font-size: 20px;"> Other projects worked on:</u>
      <div>UI Architect and Lead developer for <strong> NSX-T on VMC (Vmware on Cloud)</strong></div>
      <div>Lead developer for <strong> NSX Firewall UI </strong></div>
      <ul>
        <li>
          <a class="padded-link" href="https://blogs.vmware.com/networkvirtualization/2018/05/nsx641-html5-ui.html/" target="_blank">
            https://blogs.vmware.com/networkvirtualization/2018/05/nsx641-html5-ui.html/
          </a>
        </li>
      </ul>

    </div>

  </app-timeline-card>

  <app-timeline-card title="Principal Software Engineer" timeRange="2013 - 2016" institueName="Nexant Inc" location="Foster City, California"
    instituteIconClass="nexant">
    <div>UI Architect and Lead Engineer for <strong>DSM Central iEnergy Solutions </strong>.</div>

  </app-timeline-card>


  <app-timeline-card title="Senior Technical Manager" timeRange="2005 - 2012" institueName="Infosys Ltd" location="Chandigarh, India"
    instituteIconClass="infosys">
    <div>Senior Technical Manager for <strong>Finacle Banking Solution (Edgeverve)</strong>.</div>
  </app-timeline-card>

  <app-timeline-card title="Member Software Development Group" timeRange="2003 - 2005" institueName="Quark Software Inc"
    location="Chandigarh, India" instituteIconClass="quark">
    <div>Senior Software Engineer in <strong>Quark Publication Manager</strong>.</div>
  </app-timeline-card>

  <app-timeline-card title="Senior Software Engineer" timeRange="2001 - 2003" institueName="Aithent Inc" location="Gurugram, India"
    instituteIconClass="aithent">
    <div>Senior Software Engineer involved in development and implementation of <strong>SBS (State Based System)</strong>.</div>
  </app-timeline-card>

</div>